<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidproject.ballthemall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
    	android:name="android.hardware.sensor.accelerometer"
    	android:required="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.androidproject.ballthemall.BackgroundSoundService"
            android:enabled="true" />

        <activity
            android:name="com.androidproject.ballthemall.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidproject.ballthemall.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.androidproject.ballthemall.WorldSelectorActivity"
            android:label="@string/title_activity_world_selector"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.androidproject.ballthemall.LevelSelectorActivity"
            android:label="@string/title_activity_level_selector"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.androidproject.ballthemall.LevelActivity"
            android:label="@string/title_activity_level"
			android:screenOrientation="landscape"
			android:configChanges="orientation" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
